<div class="columns is-centered">
	<div class="vertical-center">
		<div class="box is-centered has-text-centered">
			<h3 class="title is-3">Create a new Event</h3><br />
			<%= render 'form', event: @event %>
    </div>
	</div>
</div>
