<div class="landing-page columns is-mobile is-centered">
  <div class="vertical-center has-text-centered">
    <h1 class="title is-1" id="landing">Discover new experiences near you</h1>
    <%= link_to 'Find an Event', events_path, class: "button is-large is-info", id: "home-btn" %>
  </div>
</div>